.sidebar {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
}

.sidebarItemTitle {
  font-size: var(--ifm-h3-font-size);
  font-weight: var(--ifm-font-weight-bold);
}

.sidebarItemList {
  font-size: 0.9rem;
}

.sidebarItem {
  margin-top: 0.7rem;
}

.sidebarItemLink {
  /* color: var(--ifm-font-color-base); */
  color: #333;
  display: block;
  transition: color 200ms;
  font-size: 16px;
}
@media (prefers-color-scheme: dark) {
  .sidebarItemLink {
    color: #e3e3e3e5;
  }
}
.sidebarItemLink:hover {
  text-decoration: none;
  color: #0080ffee;
}

.sidebarItemLinkActive {
  /* color: var(--ifm-color-primary) !important; */
  font-weight: 500;
  color: #0080ff !important;
}

@media (max-width: 996px) {
  .sidebar {
    display: none;
  }
}
